 body {
        color: white;
        margin: 0px;
        padding: 0px;
        background: url("img/bg2.jpg") no-repeat center center/cover;

        font-family: 'Ubuntu', sans-serif;
    }

    .left {
        display: inline;
        /* border: 2px solid red ; */
        position: absolute;
        left: 45px;
        top: 5px;
    }

    .mid {
        display: block;
        width: 33%;
        margin: 20px auto;
        position: relative;
        top: 0px;
        /* border: 2px solid green; */
    }

    .right {
        position: absolute;
        right: 30px;
        top: 32px;
        display: inline;
        /* border: 2px solid blue; */
    }

    .nav {
        display: inline-block;
    }

    .nav li {
        display: inline-block;


    }

    .nav li a {
        color: white;
        text-decoration: none;
        padding: 32px 15px;
        font-size: 26px;

    }

    .nav li a:hover {
        color:grey;
        text-decoration: underline;
    }

    .left img {
        width: 153px;
        filter: invert(100%);
    }

    .left div {
        text-align: center;
        font-size: 22px;
        line-height: 14px;
    }

    .btn {
        /* width: 80px; */
        font-family: 'Ubuntu', sans-serif;
        margin: 0px 12px;
        padding: 4px 14px;
        border: 2px solid gray;

        border-radius: 10px;
        font-size: 20px;
        background-color: black;
        color: white;
        cursor: pointer;
    }

    .btn:hover {
        background-color: rgb(56, 56, 56);
    }

    .con {
        border: 2px solid rgb(186, 178, 178);
        border-radius: 10px;
        margin: 152px 59px;
        padding: 59px 83px;
        display: inline-block;

    }

    .form input {
        border: 1px solid greenyellow;
        display: block;
        width: 344px;
        margin: 10px auto;
        padding: 9px 46px;
        font-size: 21px;
        border-radius: 10px;
        text-align: center;
    }
.formm{
    display: block;
    width: 144px;
    margin: auto;
    padding: 3px 0px;
}

    .con h1 {
        text-align: center;
        color: whitesmoke;
    }

    .con button {
        display: block;
        width: 90%;
        margin: 15px auto;
        /* border: 1px solid whitesmoke;
    border-radius: 6px; */
    }
